# Miscellaneous
server/*.pyc
server/__pycache__/
server/.pytest_cache/
server/.mypy_cache/
server/.coverage*
server/.python-version
server/Pipfile.lock
server/env3.*
server/env/
server/.venv/
server/poetry.toml
*.class
*.lock
*.log
*.swp
.buildlog/
.history

# Flutter repo-specific
mobile/bin/cache/
mobile/bin/internal/bootstrap.bat
mobile/bin/internal/bootstrap.sh
mobile/bin/mingit/
mobile/dev/benchmarks/mega_gallery/
mobile/dev/bots/.recipe_deps
mobile/dev/bots/android_tools/
mobile/dev/devicelab/ABresults*.json
mobile/dev/docs/doc/
mobile/dev/docs/flutter.docs.zip
mobile/dev/docs/lib/
mobile/dev/docs/pubspec.yaml
mobile/dev/integration_tests/**/xcuserdata
mobile/dev/integration_tests/**/Pods
mobile/packages/flutter/coverage/
version
analysis_benchmark.json

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
mobile/**/doc/api/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/**/generated_plugin_registrant.dart
mobile/.packages
mobile/.pub-preload-cache/
mobile/.pub/
mobile/build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/Flutter/ephemeral/
**/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/xcuserdata/

# Windows
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Linux
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake

# Coverage
coverage/

# Symbols
app.*.symbols

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock

.vscode/
.idea
.DS_Store

# vim temporary files
*~
.*.sw?
.cache

# Packages
/dist/*

# Unit test / coverage reports
.coverage
.pytest_cache

.idea/*
.vscode/*

/docs/site/*
.mypy_cache

.venv
/poetry.toml