services:
  app:
    build:
      context: ./
    command: "poetry run uvicorn server.main:app --reload --host 0.0.0.0 --port 8000 --app-dir src"
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}
      # ENV: ${ENV}
      # DEBUG: ${DEBUG}
      # CORS_ORIGINS: ${CORS_ORIGINS}

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"

volumes:
  postgres-data: